#Basics

---



---


###Theory Questions

1.   What is an expression?
2.  What is a syntax error?
4.  What is the result of this expression: "*" * 10
1. What is the difference between True Division and Floor Division? Use the following code snippet for reference.

          10 / 3
          10 // 3
2. What is the result of the following?

          10 ** 3
3. Given (x = 1), what will be the value of after we run (x += 2)?

5. What is the result of float(1)?
6. "In Python, the maximum value for an integer is 2^63 - 1". True or False?

###Coding Questions
1.  Write a code to find the square root of 328.
4. Write a code to round a number in python.
6. Write a code to find the roots ( x1 , x2 ) of the following quadratic equation:-
         10x^2 - 20x + 30 = 0

7. Given are the length of one side and one angle of right-angled-triangle, write a code to calculate the length of the remaining two sides of the triangle.
Use the folling image as a reference.

  [Hint:- You can use the 'math' library for this question.]

  ![image.png]()

In [ ]:
#           BASICS

# Q1:- What is an expression ?

# Ans:- Expression was the representation of the value.Then many type of operators,function etc.the fact statement something while expression and represent of the value.

In [ ]:
# Q2:- What is a syntax error ?

# Ans:- Syntax error was the any mistake of the function that's syntax error.
#       If you ever see the error message SyntaxError:,you probably forgot the final single quote character at the end of the string

In [ ]:
# Q3:- What is the result of this expression: "*" * 10 ?
# Ans:- This equation was the 'sting replication,that's the output was = '**********'.

In [ ]:
# Q4:- What is the difference between True Division and Floor Division? Use the following code snippet for reference ?
# Ans:- TRUE DIVISION = True division was the simple divided the value is called true division, Ex= /.
#       FLOOR DIVISION = Floor division was the divided the value and remaining reminder value is called floor division, Ex= //.

In [ ]:
# Q5:- What is the result of the following  (10 ** 3)?
# Ans:- '**' This operator was the exponential,the operator work is the 'square' dependent on the value. (10**3)=1000.

In [ ]:
# Q6:- Given (x = 1), what will be the value of after we run (x += 2)?
# Ans:- x = x + 2 .

In [ ]:
# Q7:- What is the result of float(1)?
# Ans:- 1.0

In [ ]:
# Q8:- "In Python, the maximum value for an integer is 2^63 - 1". True or False?
# Ans:- True.

In [ ]:
#           CODING QUESTIONS

# Q1:- Write a code to find the square root of 328.

328**0.5

18.110770276274835

In [ ]:
# Q2:- Write a code to round a number in python.
round(1.786)

2

In [ ]:
# Q3:- Write a code to find the roots ( x1 , x2 ) of the following quadratic equation:-   10x^2 - 20x + 30 = 0

#         Formula :- x = (-b + (b*b - 4*a*c)**0.5)/2*a

a= 10
b= -20
c= 30
x1 = (-b + (b*b - 4*a*c)**0.5)/2*a
x2 = (-b - (b*b - 4*a*c)**0.5)/2*a
print(x1,x2)

(100+141.4213562373095j) (100-141.4213562373095j)

In [ ]:
# Q4:- Given are the length of one side and one angle of right-angled-triangle,
#      write a code to calculate the length of the remaining two sides of the triangle. Use the folling image as a reference.

x = 5/2
side1=5/2
side2=2.5*(3)**0.5
print(side1,side2)

2.5 4.330127018922193

#Flow Control

---



---


##Theory Questions
1. What is the result of bool(“False”)?
7. What are the falsy values in Python?
8. What is the result of 10 == “10”?
9. What is the result of “bag” > “apple”?
10. What is the result of not(True or False)?
11. Under what circumstances does the expression 18 <= age < 65  evaluate to True?
12. What is the output of the following also state why?
         (12 and 13) == (13 and 12)
8. What is the Order of Precedence for Boolean Operators?
9. What marks the end of a statement block or set in Python?

##Coding Questions
1. Write a code which accepts 2 values from the user, display the maximum amount of the two and finally create a third variable and store the lower value of the two in it and display it.
2. Write a code to find the maximum of two numbers. Accept numbers from the end user.
3. Write a code that takes a number and check the following conditions.
- If the number is divisible by 4, it should print “Mickey”.
- If it is divisible by 3, it should print “Mouse”.
- If it is divisible by both 3 and 4, it should print 'MickeyMouse".
- Otherwise, it should print the number as it is.
4. Write code to check the speed of drivers. Accept 1 variable from the user and name it "speed" and check the foolowing conditions.
- If the speed is less than 70, it should print "OK".
- Otherwise, the driver should allocate one point for every 5 km of speeding (70) and print the total number of points.

 For example, if the speed is 80, it should print: "Points: 2". If the driver gets more than 12 points, the code should print: "License Suspended"
5. Write code that will have 1 input called "limit" and prints all numbers between 0 and that limit with the appropriate label to identify 'BUZZ' and 'FIZZ' numbers. For example: if limit is 3, it should print:
        0 BUZZ
        1 FIZZ
        2 BUZZ
        3 FIZZ
6. Write a code that accepts a variable known as 'limit' from the end user and prints the sum of multiples of 7 and 8 between 0 and limit. For example, if limit is 35, it should return the sum of 0, 32, 35, 7, 8, 14, 16, 21, 24, 28 which is 185.

In [ ]:
# Q1:- What is the result of bool(“False”)?
bool("False")

True

In [ ]:
# Q2:- What are the falsy values in Python?

# Ans:- Any integer, floating-point number, or complex number having zero as a value is considered as False

In [ ]:
# Q3:- What is the result of 10 == “10” ?
10 == "10"

False

In [ ]:
# Q4:- What is the result of “bag” > “apple” ?
"bag" > "apples"

True

In [ ]:
# Q5:- What is the result of not(True or False)?
not(True or False)

False

In [ ]:
# Q6:- Under what circumstances does the expression 18 <= age < 65 evaluate to True ?
print('age')
age = int(input())

if age <= 18 :
  print('False')
elif age <= 65:
  print('True')

age
10
False

In [ ]:
# Q7:- What is the output of the following also state why ?
# (12 and 13) == (13 and 12)
(12 and 13) == (13 and 12)

False

In [ ]:
# Q8:- What is the Order of Precedence for Boolean Operators ?
# Ans:-  and , or , not.

In [ ]:
# Q9:- What marks the end of a statement block or set in Python ?
# Ans:- A line that is indented less than the lines of the block itself signifies the end of a statement block or suite in python.

In [ ]:
#             CODING QUESTION

# Q1:- Write a code which accepts 2 values from the user, display the maximum amount of the two and finally create a third
#      variable and store the lower value of the two in it and display it.

a = int(input())
b = int(input())
c = 0
if a > b:
  print('maximum amount A ')
  c = b
elif b > a:
  print('maximum amount B ')
  c = a
print('lower value',c)

40
50
maximum amount B
lower value 40

In [ ]:
# Q2:- Write a code to find the maximum of two numbers. Accept numbers from the end user.

a = int(input())
b = int(input())

if a > b:
  print('maximum amount A ')
elif b > a:
  print('maximum amount B ')

15
25
maximum amount B

In [ ]:
# Q3:- Write a code that takes a number and check the following conditions.

# If the number is divisible by 4, it should print “Mickey”.
# If it is divisible by 3, it should print “Mouse”.
# If it is divisible by both 3 and 4, it should print 'MickeyMouse".
# Otherwise, it should print the number as it is.

number = int(input())

if number % 3 == 0 and number % 4 == 0:
    print('MickeyMouse')
elif number % 4 == 0:
  print('Mickey')
elif number % 3 == 0:
    print('Mouse')
else:
  print('number',number)

1111
number 1111

In [ ]:
# Q4:- Write code to check the speed of drivers. Accept 1 variable from the user and name it "speed" and check the following conditions.

# If the speed is less than 70, it should print "OK".
# Otherwise, the driver should allocate one point for every 5 km of speeding (70) and print the total number of points.
# For example, if the speed is 80, it should print: "Points: 2". If the driver gets more than 12 points, the code should print: "License Suspended"

speed = int(input())

if speed < 70:
    print('ok')
else:
  point = (speed - 70) // 5
  if point > 12:
    print('License Suspended')
  else:
    print('Point', point)

85
Point 3

In [ ]:
# Q6:- Write code that will have 1 input called "limit" and prints all numbers between 0 and that limit with the appropriate label to identify
#      'BUZZ' and 'FIZZ' numbers. For example: if limit is 3, it should print:

#     0 BUZZ
#     1 FIZZ
#     2 BUZZ
#     3 FIZZ


for i in range(0,10):
 if i % 2 == 0:
  print(i,'BUZZ')
 else:
  print(i,'FIZZ')

0 BUZZ
1 FIZZ
2 BUZZ
3 FIZZ
4 BUZZ
5 FIZZ
6 BUZZ
7 FIZZ
8 BUZZ
9 FIZZ

In [ ]:
# Q7:- Write a code that accepts a variable known as 'limit' from the end user and prints the sum of multiples of 7 and 8 between 0 and limit.
#      For example, if limit is 35, it should return the sum of 0, 32, 35, 7, 8, 14, 16, 21, 24, 28 which is 185.

sum = 0
for limit in range(0,50):
  if (limit % 7 == 0) or (limit % 8 == 0):
    print(limit,end=' ')
    sum = sum + limit
print('sum =',sum)

0 7 8 14 16 21 24 28 32 35 40 42 48 49 sum = 364

#Loops

---



---


##Theory Questions
1. What does range(1, 10, 2) return?
2. Name 3 iterable objects in Python.
3. What is the difference between if condition and while loop?
4. What is the difference between while and for loop?
5. Can we provide more than 3 agruments in range function? State the reason for the same.
6. State True or False: Also try to find out the reason for the same if your answer is False.
        We Can Create An Infinite Loop Using Range Function.

## Coding Questions

1. Write a code that accepts a variable called as 'limit' and prints all the prime numbers between 0 and limit.
7. Write a code to find all the factors of 24.
8. Write a code to find all the prime factors of 100. The output should be as follows:-

        Prime Factors of 100:- 2,2,5,5

 Use the following snippet for reference:-
        100 = 100 * 1 (can't divide 1 further)
        100 = 50 * 2 (can't divide 2 further)
        50 * 2 = 20 * 5 (can't divide 5 further)
        20 * 5 = 10 * 2 * 5 (can't divide 2, 5 further)
        10 * 2 * 5 = 2 * 5 * 2 * 5 (This is the final answer)

4. Write a code that iterates from 1-25.
Each loop prints the next prime number and waits for the end user to input 'Y' for yes or 'N' for no.
- If the end user's input is 'Y': then output should print the next prime number and waits for the end user to input 'Y' for yes or 'N' for no.
- If the end user's input is 'N': then stop the loop.

5.

$$\sum_{n=0}^{25} \frac{1}{24} ( \frac{3}{4} )^n $$

In [ ]:
limit = 25
sum = 0

for n in range(0,limit+1):
     a = 1/24*3/4**n
     sum = sum + a
print(sum)

0.16666666666666663

6.

$$\prod_{n=1}^{25} \frac{1}{24} ( \frac{3}{4} )^n $$

In [ ]:
limit = 25
multi = 1

for n in range(1,limit+1):
     a = 1/24*3/4**n
     multi = multi * a
print(multi)

5.665694374725699e-219

7.

$$\sum_{n=1}^{25} 2^{2^{2^{n}}} $$

In [ ]:
limit = 25
sum = 0

for n in range(1,limit+1):
    a = (2)**2*(2)**2*(2)**n
    sum = sum + a
print(sum)

1073741792

In [ ]:
#         LOOPS

# Q1:- What does range(1, 10, 2) return ?
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
#                    CODING QUESTIONS

# Q1:- Write a code that accepts a variable called as 'limit' and prints all the prime numbers between 0 and limit.

print('number')
limit = int(input())
for v in range(0,limit+1):
  for k in range(2,int(v**0.5)+1):
    if v % k == 0:
      break
  else:
    print(v,end=' ')

number
25
0 1 2 3 5 7 11 13 17 19 23

In [ ]:
# Q2:- Write a code to find all the factors of 24.

factors = 24
for i in range(1,factors+1):
  if factors % i == 0:
    print(i,end=' ')

1 2 3 4 6 8 12 24

In [ ]:
# Q3:- Write a code to find all the prime factors of 100. The output should be as follows:

n = int(input('Number:- '))
i = 2
while n > 1:
  if n % i == 0:
    print(i)
    n = n / i
  else:
      i = i + 1

Number:- 100
2
2
5
5

In [ ]:
num = 100
for i in range(num,1):
 if i % 2 == 0:
  num = num / i
  print(i)

In [ ]:
# Q4:- Write a code that iterates from 1-25. Each loop prints the next prime number and waits for the end user to input 'Y' for yes or 'N' for no.

# If the end user's input is 'Y': then output should print the next prime number and waits for the end user to input 'Y' for yes or 'N' for no.
# If the end user's input is 'N': then stop the loop.

num = 25

for i in range(1,num+1):
  for k in range(2,int(i**0.5)+1):
    if  i % k == 0:
      break
  else:
    x = input()
    if x == 'y':
      print(i,end=' ')
    else:
       print('stop loop')
       break

y
1 n
stop loop